footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  padding-top: 40px;
}
.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 5px;
}
.keyboard-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 70px;
  background-color: rgb(211, 214, 218);

  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}
#keyboard-block__act {
  width: 70px;
  font-size: 15px;
}
#keyboard-block__act img {
  height: 25px;
  width: 25px;
}
