header {
  margin-top: 10px;
  margin: 10px;
  border-top: 1px solid rgb(223, 223, 223);
  border-bottom: 1px solid rgb(223, 223, 223);
}
.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.info-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.info-icons:hover {
  background-color: rgb(223, 223, 223);
}
.info-bar img {
  width: 30px;
}
#info_right img {
  padding: 0 10px 0 10px;
}
